body {
  background: #E2E2E2 url("../images/Icon-Background-1.png") fixed;
  font-family: Verdana, sans-serif;
}

.container {
  margin: 1% auto 0;
  width: 98%;
}

.panelOuter {
  border: 3px solid #023C67;
  border-radius: 8px;
}

.username.ng-valid {
  background-color: rgba(0,255,0,.2);
}
.username.ng-dirty.ng-invalid-required {
  background-color: rgba(255,0,0,.2);
}
.username.ng-dirty.ng-invalid-minlength {
  background-color: rgba(255,255,0,.2);
}

.email.ng-valid {
  background-color: rgba(0,255,0,.2);
}
.email.ng-dirty.ng-invalid-required {
  background-color: rgba(255,0,0,.2);
}
.email.ng-dirty.ng-invalid-email {
  background-color: rgba(255,255,0,.2);
}

.btnAlign {
  text-align: center;
}

th, td {
  margin: 0;
  padding: 0;
  width: 20%;
}

a {
  display: block;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 480px) {

.panel-body {
  margin: 0;
  padding: 0 5px;
  max-width: 100%;
}

  table.table {
    font-size: 65%;
    margin: 0;
    padding: 0;
  }

  tr {
    margin: 0;
    padding: 0;
  }

  th, td {
    margin-left: -25px;
    max-width: 10%;
  }

  .btn-xs {
    font-size: 70%;
}